* {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
}

a {
	color: #916246;
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #EE7C5B;
}

p {
	margin-bottom: 16px;
}

pre {
	background-color: #F6F8FA;
	border-radius: 8px;
	font-family: 'Courier New', 'Courier', 'monospace';
	font-size: 1em;
	margin-bottom: 12px;
	overflow: auto;
	padding: 12px;
}

kbd {
	-moz-border-radius: 3px;
	-moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #FFF inset;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #FFF inset;
	background-color: #F7F7F7;
	border-radius: 3px;
	border: 1px solid #CCC;
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #FFF inset;
	color: #333;
	display: inline-block;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	line-height: 1.4;
	margin: 0 0.1em;
	padding: 0.1em 0.6em;
	text-shadow: 0 1px 0 #FFF;
	white-space: nowrap;
}

h2 {
	color: #EE7C5B;
	font-size: 1.5em;
	font-weight: 900;
	margin-bottom: 16px;
}

code {
	background-color: rgba(27, 31, 35, 0.05);
	border-radius: 3px;
	padding: 4px;
}

img {
	height: auto;
	margin-bottom: 32px;
	max-width: 100%;
	width: auto;
}

header {
	background: linear-gradient(to right, #EE7C5A, #EC8C64, #E9A571);
	height: auto;
	margin: 0 auto;
	margin-bottom: 32px;
	min-width: 320px;
	text-align: center;
	width: 100%;
}

li,
ul {
	margin-bottom: 4px;
}

.bmc-text {
	margin-bottom: 16px;
}

.headline {
	color: #FFFFFF;
	font-size: 4em;
	font-weight: 900;
	margin: 0;
	padding-top: 1.5em;
}

.shadow-bar {
	background: rgba(128, 128, 128, 0.3);
	margin-bottom: 0;
	padding-bottom: 16px;
	padding-top: 16px;
}

.sub-headline {
	color: #916246;
	font-size: 1.7em;
	font-weight: 900;
	margin-bottom: 2em;
}

.link-container {
	text-align: center;
}

@media only screen and (max-width: 350px) {
	.npm-badges {
		margin-top: 4px;
	}
}

.npm-badges {
	margin-right: 8px;
}

.main {
	margin: 0 auto;
	max-width: 640px;
	padding: 0 16px;
}

.section {
	margin-bottom: 48px;
}

table {
	border: 2px solid #979797;
	border-collapse: collapse;
	margin-top: 16px;
	width: 100%;
	margin-bottom: 32px;
}

td,
th {
	border: 2px solid #979797;
	font-size: 1em;
	padding: 8px 0 8px 16px;
	text-align: left;
}

th {
	color: #EE7C58;
	font-weight: 900;
}

tr:nth-child(even) {
	background-color: #E7E7E7;
}

footer {
	background: linear-gradient(to right, #EE7C5A, #EC8C64, #E9A571);
	color: #916246;
	font-weight: 900;
	margin-top: 48px;
	text-align: center;
	width: 100%;
}

footer a {
	color: #FFF;
}

.contributors {
	font-size: 1em;
	margin-bottom: 0;
	padding: 24px 0;
}