:root {
	--color-hyperlink: #7FC6A4;
	--color-footer: #0B132B;
	--color-bg-base: #5D737E;
	--color-bg-code: rgba(136, 158, 168, 0.3);
	--color-border-neutral: #979797;
	--color-font-base: #FFFFFF;
	--color-font-secondary: #686566;
	--color-bg: #1C2541;
}

@font-face {
	font-family: Alegreya-sans;
	src: url(assets/fonts/AlegreyaSans-Regular.otf);
}

* {
	font-family: 'Alegreya-sans', sans-serif;
	font-size: 1em;
}

a {
	color: var(--color-hyperlink);
	text-decoration: none;
	font-weight: bold;
}

body {
	background-color: var(--color-bg);
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-font-base);
}

p {
	color: var(--color-font-base);
	margin-bottom: 16px;
}

pre {
	background-color: var(--color-bg-code);
	border-radius: 8px;
	color: var(--color-font-base);
	font-family: 'Courier New', 'Courier', 'monospace';
	font-size: 1em;
	margin-bottom: 12px;
	overflow: auto;
	padding: 12px;
}

kbd {
	-moz-border-radius: 3px;
	-moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px var(--color-bg) inset;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px var(--color-bg) inset;
	background-color: #F7F7F7;
	border-radius: 3px;
	border: 1px solid #CCC;
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px var(--color-bg) inset;
	color: #333;
	display: inline-block;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	line-height: 1.4;
	margin: 0 0.1em;
	padding: 0.1em 0.6em;
	text-shadow: 0 1px 0 var(--color-bg);
	white-space: nowrap;
}

h2 {
	color: var(--color-font-base);
	font-size: 1.5em;
	font-weight: 900;
	margin-bottom: 16px;
}

code {
	background-color: rgba(27, 31, 35, 0.05);
	border-radius: 3px;
	padding: 4px;
}

img {
	height: auto;
	margin-bottom: 32px;
	max-width: 100%;
	width: auto;
}

header {
	height: auto;
	margin: 0 auto;
	margin-bottom: 32px;
	min-width: 320px;
	text-align: center;
	width: 100%;
}

header img {
	margin-top: 48px;
	width: 500px;
}

li,
ul {
	color: var(--color-font-base);
	margin-bottom: 4px;
}

.bmc-text {
	margin-bottom: 16px;
}

.headline {
	color: var(--color-bg);;
	font-size: 4em;
	font-weight: 900;
	margin: 0;
	padding-top: 1.5em;
}

.shadow-bar {
	margin-bottom: 0;
	padding-bottom: 16px;
	padding-top: 16px;
}

.link-container {
	text-align: center;
}

.main {
	margin: 0 auto;
	max-width: 640px;
	padding: 0 16px;
}

.section {
	margin-bottom: 48px;
}

table {
	border: 2px solid var(--color-border-neutral);
	border-collapse: collapse;
	margin-top: 16px;
	width: 100%;
	margin-bottom: 32px;
}

td,
th {
	border: 2px solid var(--color-border-neutral);
	color: var(--color-font-base);
	font-size: 1em;
	padding: 8px 0 8px 16px;
	text-align: left;
}

th {
	color: var(--color-font-base);
	font-weight: 900;
}

tr:nth-child(even) {
	background-color: var(--color-bg-code);
}

footer {
	background-color: var(--color-footer);
	color: var(--color-bg);
	margin-top: 48px;
	text-align: center;
	width: 100%;
}

footer a {
	color: var(--color-hyperlink);
}

.contributors {
	font-size: 1em;
	margin-bottom: 0;
	padding: 24px 0;
}

@media only screen and (max-width: 425px) {
	header img {
		margin: 0;
		width: 100%;
	}
}
